<a href="https://colab.research.google.com/github/YesInAJiffy/Python/blob/main/1.%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


* head() returns the first few rows (the “head” of the DataFrame).
* .info() shows information on each of the columns, such as the data type and number of missing values.
* .shape returns the number of rows and columns of the DataFrame.
* .describe() calculates a few summary statistics for each column.

In [2]:
#Information on the Dataframe

import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'Salary': [50000, 60000, 45000]}

df = pd.DataFrame(data)

# Display information about the DataFrame
print(df.info())

print(df.head(2))

print(df.shape)

print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes
None
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000
(3, 3)
             Age        Salary
count   3.000000      3.000000
mean   25.666667  51666.666667
std     4.041452   7637.626158
min    22.000000  45000.000000
25%    23.500000  47500.000000
50%    25.000000  50000.000000
75%    27.500000  55000.000000
max    30.000000  60000.000000

In [3]:
#SORTING
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'Salary': [50000, 60000, 45000]}

df = pd.DataFrame(data)

# Sort the DataFrame by the 'Salary' column in descending order
df_sorted = df.sort_values(by='Salary', ascending=False)

# Display the sorted DataFrame
print(df_sorted)

      Name  Age  Salary
1      Bob   30   60000
0    Alice   25   50000
2  Charlie   22   45000

In [4]:
#SORTING ON MULTIPLE COLUMNS
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'Salary': [50000, 60000, 45000, 55000]}

df = pd.DataFrame(data)

# Sort the DataFrame by 'Age' in ascending order and then by 'Salary' in descending order
df_sorted = df.sort_values(by=['Age', 'Salary'], ascending=[True, False])

# Display the sorted DataFrame
print(df_sorted)

      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
3    David   28   55000
1      Bob   30   60000

In [5]:
#Select subset from a dataframe
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'Salary': [50000, 60000, 45000, 55000]}

df = pd.DataFrame(data)

# Create a new DataFrame containing rows where 'Age' is greater than 25
subset_df = df[df['Age'] > 25]

# Display the new DataFrame
print(subset_df)

# Create a new DataFrame with selected columns
selected_columns_df = df[['Name', 'Salary']]

# Display the new DataFrame
print(selected_columns_df)

    Name  Age  Salary
1    Bob   30   60000
3  David   28   55000
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   45000
3    David   55000