<a href="https://colab.research.google.com/github/YesInAJiffy/Python/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**

In [2]:
# prompt: Variables

x = 100
y = 50
print(x+y)

150

**Data Types**

* float
* int
* str
* bool (True, False)
*italicized text*

In [5]:
i = 10
j = 3.14
k = "Hello World"

print (type(i))
print (type(j))
print (type (k))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
# Type Conversions

print("Value of X is " + str(x) + " and y is " + str(y) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)
print(pi_float)

Value of X is 100 and y50. Awesome!
3.1415926

**LISTS**

In [7]:
# prompt: lists in python


# List of numbers
numbers = [1, 2, 3, 4, 5]

# List of strings
names = ["John", "Mary", "Bob", "Alice"]

# List of mixed types
mixed_list = [1, "Hello", 3.14, True]

# Accessing elements of a list
print(numbers[0])  # 1
print(names[2])  # Bob
print(mixed_list[3])  # True

# Adding elements to a list
numbers.append(6)  # [1, 2, 3, 4, 5, 6]
names.insert(0, "William")  # ["William", "John", "Mary", "Bob", "Alice"]
mixed_list.extend([5, "World"])  # [1, "Hello", 3.14, True, 5, "World"]

# Removing elements from a list
numbers.remove(3)  # [1, 2, 4, 5, 6]
names.pop()  # ["William", "John", "Mary", "Bob"]
mixed_list.pop(1)  # [1, 3.14, True, 5, "World"]

# Slicing a list
print(numbers[1:4])  # [2, 4, 5]
print(names[:3])  # ["William", "John", "Mary"]
print(mixed_list[2:])  # [True, 5, "World"]

# Sorting a list
numbers.sort()  # [1, 2, 4, 5, 6]
names.sort()  # ["Alice", "Bob", "John", "Mary", "William"]
#mixed_list.sort()  # [1, 3.14, 5, "Hello", "True", "World"]

# Reversing a list
numbers.reverse()  # [6, 5, 4, 2, 1]
names.reverse()  # ["William", "Mary", "Bob", "John", "Alice"]
mixed_list.reverse()  # ["World", "True", 5, "Hello", 3.14, 1]

1
Bob
True
[2, 4, 5]
['William', 'John', 'Mary']
[True, 5, 'World']

**INDEXING AND SLICING in LISTS**


*   Python uses Zero Based Indexing
*.  For accessing any element place the square bracket and the index of element. The first element is 0
*   Negative indexes can be useful in certain cases for e.g. to access the last element of this list (list[-1]).

**SLICING**

Slicing is [Inclusive:Exclusive]

In [10]:
numbers = [1, 2, 3, 4, 5]

#Print the first element
print(numbers[0])

#Print the last element
print(numbers[-1])

firstThree = numbers[:3]
print(firstThree)

lastTwo = numbers[3:]
print(lastTwo)

all = numbers[:]
print(all)

1
5
[1, 2, 3]
[4, 5]
[1, 2, 3, 4, 5]

In [12]:
# prompt: list of lists

a = [[1, 2, 3], [4, 5, 6]]
print(a[0])  # [1, 2, 3]
print(a[1][1])  # 5
print(a[-1][1]) #same as above

[1, 2, 3]
5
5